.php~
.idea
.DS_Store
*~
*.bak
._*
~*
.php_cs.cache
.sflaunchpad.local.yml
/*.bash
/data/*
!/data/.gitkeep
!/data/ibexa.sql.gz
/docker/dev/solr/server/ibexa/collection1
/docker/dev/solr/server/ibexa/filestore
/docker/dev/solr/server/ibexa/userfiles
